.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
.sass-cache
node_modules
!node_modules/@cfrezier/reveal-gamepad-controller-plugin/dist/index.js
!node_modules/qr-code-styling/qr-code-styling/lib/qr-code-styling.js