body {
    font-family: Poppins;
    font-size: 20px;
    background: radial-gradient(ellipse at top, #dcf8ff, transparent),
    radial-gradient(ellipse at bottom, #eaeaea, transparent);
}

.circle {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 6px;
}

.center-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.me > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.me img.big {
    max-width: 150px;
    max-height: 150px;
}

.me img {
    max-width: 50px;
    max-height: 50px;
}

.me img.nuage {
    max-width: 500px;
    max-height: 300px;
}

.me img.logo {
    background: none;
    max-width: 200px;
    max-height: 200px;
}


.conf-image {
    max-height: 100px;
    max-width: 100px;
}

.conf {
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.conf-title {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.conf-instance {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.conf-instance:has(iframe) {
    padding-top: 56.25%;
    position: relative;
}

.conf-instance > iframe {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    bottom: 12.5%;
    right: 12.5%;
    width: 75%;
    height: 75%;
}

.conf-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.conf-instance, .conf-title {
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #0d99a5;
    border-radius: 20px;
    gap: 20px;
    background: radial-gradient(ellipse at top, #dceaff, transparent),
    radial-gradient(ellipse at bottom, #d9cece, transparent);
}

@media (max-width: 1000px) {
    .conf > div > div {
        flex-direction: column;
    }

    .center-image {
        flex-direction: column;
    }
}