.fullscreen {
    display: none;
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    z-index: 1;
}

body.intro-video {
    .fullscreen {
        display: block;
    }
}

.bdx-io {
    position: absolute;
    top: 10px;
    left: 10px;
}

.pokemon {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(10deg);
    display: none;
}

body.first-dialog {
    .pokemon {
        display: block;
    }
}

body {
    .onepoint.for-intro {
        display: none;
    }

    .onepoint.no-intro {
        display: block;
    }
}

body.intro {
    .onepoint.for-intro {
        display: block;
    }

    .onepoint.no-intro {
        display: none;
    }
}

.onepoint {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.onepoint > img {
    max-width: 200px;
}

.author {
    position: absolute;
    top: 10px;
    right: 10px;
}

.circle {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 6px;
}

.global {
    color: #000000;
    background-color: #d7eaf1;
    font-family: Poppins;
}

.center-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro::before {
    content: "";
    background-image: url("./images/intro.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.transparent-background::before {
    opacity: 0.1;
}

.octo-fond::before {
    content: "";
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
}

.fond-minute::before {
    background-image: url("./images/minute.webp");
}

.fond-crabes::before {
    background-image: url("./images/crabes.jpeg");
}

.fond-perf::before {
    background-image: url("./images/rapide.jpeg");
}

.fond-pelle::before {
    background-image: url("./images/pelle.jpeg");
}

.fond-volcan::before {
    background-image: url("./images/volcan.jpeg");
}

.fond-coffre::before {
    background-image: url("./images/coffre.jpeg");
}

.fond-trou::before {
    background-image: url("./images/trou.jpeg");
}

.fond-song::before {
    background-image: url("./images/song.jpeg");
}

.fond-orks::before {
    background-image: url("./images/orks.jpeg");
}

.fond-octocapsule::before {
    background-image: url("./images/octocapsule.jpeg");
}

.fond-vide::before {
    background: none;
}

img.qwik-logo {
    max-width: 200px;
    margin-left: 20px;
}

.qwik-title {
    margin-top: -191px;
    margin-left: 182px;
    color: white;
    width: fit-content;
    padding: 20px;
    border-radius: 30px;

    > img {
        margin: 0;
        margin-left: 20px;
    }
}

.grid-perso {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 55px;
}

.perso {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    flex-grow: 1;
    opacity: 0.5;
    max-height: 200px;
}

.perso.active {
    opacity: 1;
}

.portrait {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.portrait > img {
    max-width: 100%;
    max-height: 100%;
}

.me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.me img {
    background: white;
    max-width: 50px;
    max-height: 50px;
}

.me img.nuage {
    max-width: 300px;
    max-height: 300px;
}

.me img.logo {
    background: none;
    max-width: 200px;
    max-height: 200px;
}

img.qwik-logo.small {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    margin: 0;
}

.aside-text {
    font-size: 10px;
}

.me .circle {
    margin-right: 20px;
}

.legacy td {
    vertical-align: middle;
}

.legacy tr, .legacy td {
    height: 100px;
}

img.app-size {
    max-height: 75px;
}

img.rate {
    max-height: 20px;
    max-width: 20px;
    margin-left: 5px;
}

.rating {
    font-size: 20px;
}

.rating > div {
    height: 30px;
    justify-content: flex-end;
}

img.rate.ml-auto {
    margin-left: auto;
}

.opacity-50 {
    opacity: 0.5;
}

.outside-site {
    width: 90%;
    height: 600px;
    top: 50px !important;
}

.code-font-sm {
    font-size: 18px;
    line-height: 18px;
}

.reveal pre {
    width: 100%;
    margin: 0;
}

.code-font-md {
    font-size: 20px;
    line-height: 20px;
}

.code-font-hd {
    font-size: 24px;
    line-height: 24px;
}

.center-questions {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    top: 66px ! important;

    .split {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.qrcode {
    > img {
        width: 200px;
        height: 200px;
        max-width: 200px;
        max-height: 200px;
        margin: 0;
    }
}

.reveal .progress {
    height: 5px;
}

.reveal .progress span {
    background-color: #ff8f43;
}

.cinema {
    display: none;

    > img {
        position: absolute;
        height: 100vh;
        width: 100vw;
        bottom: 0;
        left: 0;
    }
}

body.dialog-scene {
    .cinema {
        display: block;
    }

    .onepoint.no-intro {
        display: none;
    }
}